.card {
  margin: 10px 10px 10px 10px;


}
.card-img-top{
  width: 150px;
  margin: auto;
  text-align: center;
  display: block;
}

.card-deck {
  margin: 10px 10px 10px 10px;
  height: 80vh;
}


p.card-text {
  font-size: 0.7em;
  text-align: justify;
}
