<div class="footer">

    <div class="row">
        <div class="col-md-4">
            <div class="row-redes">
                <h5>REDES</h5>
                <div>
                   <p><a href="https://www.instagram.com/?hl=es-la"><img class="img" src="../../../assets/img/instagram.png" alt="" srcset=""></a></p>
                    <p><a href="https://twitter.com/?lang=es"><img class="img" src="../../../assets/img/facebook.png" alt="" srcset=""></a></p> 
                    <p><a href="https://es-la.facebook.com/"><img class="img" src="../../../assets/img/twitter.png" alt="" srcset=""></a></p> 

                </div>
            </div>
        </div>
        <div class="col-md-4">
            <H5>CONTACTENOS</H5>
            <a href="tel:+573155527516">
                <img class="img" src="../../../assets/img/whatsapp.jpg" alt="" srcset=""> <br> 3155527516
            </a>
            

        </div>
        <div class="col-md-4">
            <H5>QUIENES SOMOS</H5>
            <P>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae veritatis, nobis vero exercitationem
                dolorum, magnam iusto tempora incidunt nisi suscipit ratione distinctio cum delectus rerum ducimus, qui
                architecto nihil voluptatem?</P>

        </div>
    </div>

</div>