.header {
  background: transparent !important;
  position: absolute;
  width: 100vw;
}

.header .navbar {
  opacity: 1;
}

.nav-link {
  margin: 3px 25px 3px 50px;
}


a.login {
  position: absolute;
  right: 30px;
  top: 27px;
}

a.login i {
  font-size: 40px;
  color: white;
}

.logo{
  width: 30%;
  margin-left: 20px;
  margin-top: 10px;
}

