<header>
    <div class="row">
        <div class="">
            <label for="menu"></label>
            <nav class="navbar navbar-inverse navbar-fixed-top affix-top">
                <img src="./assets/img/logo.jpg" alt="" width="10%">
                <div id="header">

                    <ul class="nav">

                        <li><a href="">Inicio</a></li>
                        <li><a href="">Productos</a>
                            <ul>
                                <li><a href="">Cargadores</a></li>
                                <li><a href="">Cables</a></li>
                                <li><a href="">Manos libres</a></li>
                                <li><a href="">Vidrios</a></li>
                                <li><a href="">Cargador para carro</a></li>
                                <li><a href="">Memorias</a></li>
                            </ul>
                        </li>
                        <li><a href="">Pedidos</a></li>
                    </ul>
                </div>
                <div class="username"></div>
            </nav>
        </div>
    </div>
</header>