.containerHome {
  height: 100vh;
  background: url("/assets/img/paisaje.jpg");
  background-size: cover;
}


img.scroll {
  width: 150px;
  position: absolute;
  bottom: 30px;
  right: 10%;
  cursor: pointer;
}
