<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>techStore</title>
</head>

<body>
    <header>
        <nav class="navbar navbar-inverse navbar-fixed-top affix-top">
            <img class="logo-menu" src="../img/drone.jpg" alt="">
            <div id="header">
                <ul class="nav">
                    <li><a href="">Inicio</a></li>
                    <li><a href="">Productos</a>
                        <ul>
                            <li><a href="">Cargadores</a></li>
                            <li><a href="">Cables</a></li>
                            <li><a href="">Manos libres</a></li>
                            <li><a href="">Vidrios</a></li>
                            <li><a href="">Cargador para carro</a></li>
                            <li><a href="">Memorias</a></li>
                        </ul>
                    </li>
                    <li><a href="">Pedidos</a></li>
                </ul>
            </div>
            <div class="username"><a href="../login/login.component.html">Usuario</a></div>
        </nav>

    </header>
    <div>
        <div class="row">
            <div class="col-md-6">
                <label for="menu">Menu</label>



            </div>
        </div>
    </div>


</body>

</html>